{% extends "base.html" %}
{% from "macros.html" import show_object_or_na, local_datetime, show_pagination with context %}
{% block title %}Builds{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 text-center">
            <h1>Builds history for {{ buildsets.pipeline }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="form-inline" action="{{ url_for('builds.show_builds_history') }}">
                    <div class="form-group mr-sm-2">
                        <select class="form-control mb-2 mr-sm-2" name="branch">
                            <option value=""> -- select branch -- </option>
                            {% for branch in buildsets.branches %}
                                <option {% if branch == request.args.branch %} selected="selected" {% endif %}>{{ branch }}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="build" class="form-control mb-2 mr-sm-2"
                               id="buildFilter" placeholder="Build"
                               value="{{ request.args.build or '' }}">
                        <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row build-table table-head">
            <div class="col ml-2">Branch</div>
            <div class="col">Build number</div>
            <div class="col">Duration</div>
            <div class="col-2">Started</div>
            <div class="col-2">Finished</div>
            <div class="col-2 text-center">Result</div>
        </div>
        {% for b in buildsets.page %}
        <div class="row hover-row build-table clickable" data-toggle="collapse"
             data-target="#collapse-{{ b.id }}">
            <div class="dropdown-toggle"></div>
            <div class="col">{{ b.branch }}</div>
            <div class="col"><a class="no-collapsable"
                                href="{{ buildsets_log_url }}/{{ buildsets.pipeline }}/review.opencontrail.org/{{ b.branch }}/{{ b.build_number }}/"
                                title="Open logs">{{ show_object_or_na(b.build_number) }}</a></div>
            <div class="col">{{ show_object_or_na(b.duration) }}</div>
            <div class="col-2">{{ local_datetime(b.start_datetime) }}</div>
            <div class="col-2">{{ local_datetime(b.end_datetime) }}</div>
            <div class="col text-center">
                <span
                    class="badge {% if b.result == 'SUCCESS' %} badge-success {% else %} badge-danger {% endif %}">{{ b.result }}</span>
            </div>
        </div>
        <div class="collapse row justify-content-md-center p-3"
             id="collapse-{{ b.id }}">
            <div class="col-12">
                <div
                    class="row build-table text-white bg-secondary font-weight-bold">
                    <div class="col-5">Job name</div>
                    <div class="col">Duration</div>
                    <div class="col-2">Start time</div>
                    <div class="col-2">End time</div>
                    <div class="col">Result</div>
                </div>
                {% for job in b.builds %}
                <div class="row build-table bg-light">
                    <div class="col-5"
                         title=" This job is {% if not job.voting %}not {% endif %}voting ">
                        <a href="{{ job.log_url }}" title="Open log">{{ job.job_name }}</a>{% if not job.voting %}
                        <span class="badge badge-secondary">non-voting</span>{% endif %}
                    </div>
                    <div class="col">{{ show_object_or_na(job.duration) }}</div>
                    <div class="col-2">{{ local_datetime(job.start_time) }}</div>
                    <div class="col-2">{{ local_datetime(job.end_time) }}</div>
                    <div class="col">
                        <span class="badge {% if job.result == 'SUCCESS' %} badge-success
                                        {% elif job.result == 'FAILURE' %} badge-danger
                                        {% elif job.result == 'SKIPPED' %} badge-info
                                        {% else %} badge-warning
                                        {% endif %} ">{{ job.result }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% if buildsets | length < 1 %}
        <div class="alert alert-info m-3" role="alert">
            There is no data to show
        </div>
        {% endif %}
    </div>
    {{ show_pagination(paginator) }}
{% endblock %}
