{% extends "base.html" %}
{% block title %}Zuul manager{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>Zuul manager</h1>
            </div>
        </div>

        <div class="container mb-5">
            <div class="row justify-content-center">
                    <form class="form-inline col-8" action="">
                        <div class="form-group sm-2" style="width: 100%">
                            <select class="custom-select-pipeline form-control mb-2 mr-sm-2" multiple="multiple" name="pipeline" style="width: 40%">
                                {%  for pipename in pipelines_list %}
                                    <option {% if pipename in pipelines_arg %} selected="selected" {% endif %}>{{ pipename }}</option>
                                {%  endfor %}
                            </select>
                            <select class="custom-select-branch form-control mb-2 mr-sm-2" multiple="multiple" name="branch" style="width: 40%">
                                {%  for branch in branches_list %}
                                    <option {% if branch in branches_arg %} selected="selected" {% endif %}>{{ branch }}</option>
                                {%  endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </form>
            </div>
        </div>


        <div class="row mt-5 mb-2">
            <div class="col-md-12 col-lg-6 offset-lg-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Pipeline</th>
                                <th scope="col">Branch</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for pipeline_name, branches in pipelines.items() %}
                            {% for branch in branches %}
                                <tr>
                                    <td> {{ pipeline_name }}</td>
                                    <td> {{ branch }}</td>
                                    <td>
                                        <form class="form" method="POST" action="{{ url_for('zuul_manager.manage') }}">
                                            <input type="hidden" name="branch" value="{{ branch }}">
                                            <input type="hidden" name="pipeline_name" value="{{ pipeline_name }}">
                                            <button type="submit" class="btn btn-success" name="action" value="start">START</button>
                                            <button type="submit" class="btn btn-danger" name="action" value="stop">STOP</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
