<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/lib/zuul/web

    <Directory /var/lib/zuul/web>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/acid-error.log
    CustomLog ${APACHE_LOG_DIR}/acid.log combined
</VirtualHost>
